[Unit]
Description=Scarecro Device Script
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/scarecro-system/scarecro
ExecStart=/usr/bin/python3 /home/ubuntu/scarecro-system/scarecro/scarecro.py
User=ubuntu

[Install]
WantedBy=multi-user.target